<template>
    <div class="register">
        <h1>Registrarse</h1>
        <br><br>
        <input type="text" placeholder="email" v-model="email">
        <br><br>
        <input type="text" placeholder="name" v-model="name">
        <br><br>
        <input type="text" placeholder="password" v-model="password">
        <br><br>

        <button type="submit" @click="enviar">
            Enviar
        </button>
    </div>
</template>

<script setup lang="ts">
import AuthService from '@/service/AuthService';
import { ref } from 'vue';

const service = new AuthService()

const email = ref('')
const name = ref('')
const password = ref('')

const enviar = (e: any) => {

    e.preventDefault()

    let newData = {
        email: email.value,
        name: name.value,
        password: password.value
    }
    
    service.postUser(newData.email, newData.name, newData.password)
}

</script>

<style>
</style>