<template>
    <div class="users">
        <h1>Usuarios</h1>
        <ul>
            <li v-for="(user, index) in users" :key="index"  class="user">
                <RouterLink :to="{ name: 'user', params: { email: user.email } }" class="each">
                    {{ index + 1 }} <br> {{ user.name }}
                </RouterLink>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
import AuthService from '@/service/AuthService';
import type IUsers from '@/interface/IUsers';
import { onMounted } from 'vue';
import type { Ref } from 'vue';

const service = new AuthService()
const users: Ref<IUsers[]> = service.getUsers()

onMounted(async () => {
    await service.fetchAll()
})

</script>

<style>

</style>