<template>
    <div class="user">
        <h1>Usuario {{ user.name }}</h1>
        {{ user.id }}
        <br>
        <h1>
            {{ user.name }}
        </h1>
        <span>
            {{ user.email }}
        </span>
    </div>
</template>

<script setup lang="ts">
import AuthService from '@/service/AuthService';
import { onMounted } from 'vue';
import { useRoute } from 'vue-router';

const service = new AuthService()
const user = service.getUser()

onMounted(async () => {
    const router = useRoute()
    const userEmail = router.params.email as string
    await service.fetchUser(userEmail)
})

</script>

<style>

</style>
